/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General project styls */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(18, 32, 32);
}

h1, h2, h4, h5{
    font-family: "Shadows Into Light", cursive;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    color: #010463;
    letter-spacing: 0.2rem;
}

/* Header */
header {
    background-color: #d9d9d9;
    padding: 0.5rem 0.5rem;
    display: flex;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none; 
    color: #4484ce;
}

#logo-image-name-container {
    display: flex;
}

#logo-image-container img {
    height: 40px;   
    width: 40px;
    margin-right: 5px;
}  

div#menu-container {
    border: solid 1px rgba(0, 0, 0, .15);
    padding: 5px;
    border-radius: 5px;
    line-height: 0.5;
}

div#menu-container i {
    font-size: 1.5rem;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 2em;
}

.active {
    color: #010463;
    font-weight: bolder;
    font-style: italic;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #d9d9d9;
    width: 100%;
    left: 0;
    text-align: center;
    padding: 0 1rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    display: none;
    /* Tell the child element to start at the bottom of parent element */
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

i.fa-solid.fa-bars {
    color: #4484ce;
}

/* Main Content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 60.5px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%; 
    background: url("../images/asian-boy-library-room-school.jpeg") no-repeat center center/cover;
    background-position: 85%; 
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3);
}

#cover-text {
    background-color: rgba(68, 132, 206, .7);
    position: absolute; 
    /* font-size: 140%; */
    bottom: 20px;
    width: 80%;
    min-height: 90px;
    padding: 20px;
    padding-left: 20px;
    right: 0px;
    border-radius: 4px;
}

#cover-text > h2 {
    color: #d9d9d9;
    text-align: center;
}

div.section-title-container {
    padding: 30px 15px;
    background-color: #ffffff;
    margin-left: 0;
    margin-right: 0;
    line-height: 1.5rem;
}

h2.nested {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

h2.nested::before {
    content: '';
    width: 20px;
    border-bottom: solid #010463 2px;
    min-width: 75px;
    margin-right: 5px;
}

h2.nested::after {
    content: '';
    width: 20px;
    border-bottom: solid #010463 2px;
    min-width: 75px;
    margin-left: 5px;
}

div.picholder {
    margin: 1rem 0;
}

div.inner-picholder {
    display: flex;
    gap: 0px 0px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3);
    padding: 0px;
}

.section-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

p.description {
    text-align: center;
    padding: 10px 10px;
    font-size: smaller;
}

section#reasons-container {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.section-container-inner {
    display: flex;
    flex-direction: column;
}

div.reasons-box {
    display: flex;
    gap: 0px 0px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3);
    padding: 0px;
    flex-direction: column;
    margin-top: 15px;
}

div.reasons-colour-box {
    padding: 20px 20px 9px;
    border-radius: 15px 15px 0 0;
}

div#reasons-colour-box-care {
    background-color: rgb(255, 197, 127);
}

div.icon-box {
    width: 76px;
    height: 76px;
    background-color: #ffffff;
    padding: 13px;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
}

i.fa-solid {
    color: #010463;
}

div.icon-box-content {
    margin-block-start: .5rem;
    margin-block-end: 1rem;
    line-height: 1.2;
    color: #ffffff;
    font-size: x-large;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    text-transform: capitalize;
    letter-spacing: 2px;
    
}

div.content-box-inner {
    padding-right: 10px;
}

div.content-box {
    padding: 0 10px;
}

div.content-box-inner p {
    margin: 14.4px 0px;
    font-size: smaller;
}

div#reasons-colour-box-expert {
    background-color: rgb(127, 255, 191);
}

div#reasons-colour-box-location {
    background-color: rgb(255, 127, 140);
}

/* Courses */
div.courses-colour-box {
    padding: 0px;
}

img.courses-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

img.courses-day-icon {
    height: 25px;
    width: 25px;
}

div.content-box-inner-courses h4 {
    font-size: large;
    margin-bottom: 5px;
}

div.content-box-inner-courses p {
    margin-top: 0px;
}

div.courses-day-icon-content-container-inner {
    display: flex;
}

div.courses-day-icon-container {
    padding-top: 0px;
}

div.courses-day-icon-content-container-inner p {
    margin-left: 20px;
}

div.button-container-inner {
    margin-bottom: 15px;
}

div.button-container-inner a {
    display: block;
    width: 50%;
    margin: auto;
    background-color:#4484ce;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3);
    text-align: center;
    text-decoration: none;
}

div.button-container-inner h5 {
    color: #ffffff;
}

/* Circular background image */
div#thinking-kid-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#circular-cover-bg {
    background: url(../images/little-asian-girl-having-paper-pencil-hands-looking-up-writer-waiting-muse-isolated-green-background.jpg) no-repeat top center / cover;
    height: 90vw;
    width: 90vh;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3);
}

/* Gallery link */
div#link-to-gallery {
    background-color: #4484ce; 
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3);
}

div#link-to-gallery a {
    text-decoration: none;
    text-align: center;
}

div#link-to-gallery a h2 {
    color: #ffffff;
}

div#link-to-gallery a h5 {
    color: #ffffff;
 }

div#testimonials {
    margin-top: 15px;
}

div#testimonials-content-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    text-align: center;
}

p.testimonials-text {
    font-size: smaller;
    margin-top: 10px;
}

.writer {
    text-align: center;
    font-size: x-small;
    margin-top: 10px;
}

/* Footer */
#social-networks {
    background-color: #d9d9d9;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color:#4484ce
}

/* media query: larger mobile phone (347px and up) */
@media screen and (min-width: 347px) {

    /* Header */

    header h2 {
        font-size: xx-large;
    }

    h2.nested {
        justify-content: space-evenly;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    h2.nested::before {
        width: 210px;
    }
    
    h2.nested::after {
        width: 210px;
    }
}

/* media query: large and landscape phone (576px and up) */
@media screen and  (min-width: 576px) {

    /* Main content */

    /* div.section-title-container {
        padding: 30px 60px
    } */
    
}

/* media query: tablets and larger (768px and larger) */
@media  screen and (min-width: 768px) {

    /* Header */

    header {
        box-shadow: none;
    }

    nav {
        display: block;
        position: absolute;
        width: 100%;
        padding: 0 8px;
    }

    #menu {
        display: flex;
        justify-content: space-evenly;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo-image-name-container {
        font-size: 200%;
    }

    #logo-image-container img {
        width: 89px;
        height: 89px;
    }

    /* Main content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 169.7px;
    }

    div.section-title-container {
        padding: 20px 30px 15px;
    }

    /* Hero */ 
    #cover-text {
        width: 300px;
        left: 50px;
    }

    #cover-text > h2 {
        font-size: 200%;
    }

    /* Reasons */

    section#reasons-container {
        max-width: 75%;
        margin: auto;
    }
    div.wrap-two {
        display: flex;
        flex-direction: row;
    }

    h2.nested {
        margin: 20px;
        justify-content: space-between;
    }

}

/* media query:larger devices (laptops and desktops, 992px and larger) */
@media  screen and (min-width: 992px) {

    /* Header */
    #menu a:hover {
        color: #010463;
        font-weight: bolder;
        font-style: italic;
    }

    /* Main content */
    div.section-title-container {
        max-width: 75%;
        margin: auto;
    }

    div.section-container-inner {
        flex-direction: row;
    }

    /* Footer */

    #social-networks i:hover {
        color:#010463;
    }
    
}